{% extends 'base.html.twig' %}

{% block title %}Duck index{% endblock %}

{% block body %}
    <h1>Hello {{ app.user.duckname}}</h1>
     <button><a href="{{ path('duck_show', {'duckname': app.user.duckname}) }}">Mon Duck !</a></button>
    <h3>Here is all the Ducks :</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Duckname</th>
                <th>Firstname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ducks in duck %}
            <tr>
                <td>{{ ducks.duckname }}</td>
                <td>{{ ducks.firstname}}</td>
                <td>
                    <a href="{{ path('duck_show', {'duckname': ducks.id}) }}">show</a>

{#                    <a href="{{ path('duck_delete', {'id': ducks.id}) }}">delete</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<button><a href="{{ path('quack_new') }}">New Quack !</a></button>
    <button type="submit" name="logout"><a href="{{ path('app_logout') }}">Log out</a></button>
{% endblock %}
