{% extends 'base.html.twig' %}

{% block title %}Duck index{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
    <h1>Hello {{ app.user.duckname}}</h1>
    <img src="{{ app.user.picture }}" alt="profil pic" width="250" height="250"><br>
     <a href="{{ path('duck_show', {'duckname': app.user.duckname}) }}"><button class="btn btn-warning">Mon Duck !</button></a>
    {% else %}
    <h1>Welcome new Duck !</h1>
    {% endif %}
    <h3>Here is all the Ducks :</h3>
    <table class="table duck-text">
        <thead>
            <tr>
                <th>Duckname</th>
                <th>Firstname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for duck in ducks %}
            <tr>
                <td>{{ duck.duckname }}</td>
                <td>{{ duck.firstname}}</td>
                <td>
                    <a href="{{ path('duck_show', {'duckname': duck.duckname}) }}"><button class="btn btn-warning">show</button></a>
                </td>
            </tr>

        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        <tr>
            <th>{{ include('quack/quack_duck_index.html.twig') }}</th>
        </tr>
        </tbody>
    </table>
{% endblock %}
